body, input, button {
  font: 16px Arial, Helvetica, sans-serif;
}
.visible{
  display: none;
}
#ball {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #706f6f;
  border-radius: 50%;
  background: #f1f8c9;
  transition: bottom .3s, left .3s;
}

form label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

form label span {
  width: 90px;
  max-width: 100%;
}

input {
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #333;
}

input:focus {
  box-shadow: 0 2px 3px 0 #a2a2a2;
  outline: none;
}

input.invalid {
  border-color: tomato;
}

input[type="submit"],
button {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  outline: none;
  background: orange;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

input[type="submit"]:hover,
button:hover {
  box-shadow: 0 2px 3px 0 #a2a2a2;
}

/* --------- TODO --------- */
.todo {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #706f6f;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo .state-icon,
.todo .delete-icon {
  position: relative;
  display: block;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.todo .state-icon {
  border: 1px dashed #706f6f;
}

.todo .delete-icon {
  background: url(https://image.flaticon.com/icons/png/512/61/61848.png) center /
    contain no-repeat;
  transition: transform .3s;
}
.todo .delete-icon:hover {
  transform: scale(1.1);
}

.todo.completed .state-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0.75em;
  height: 1em;
  border: 0 solid rgb(86, 189, 86);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(0.2em, -0.2em);
}